/* * {
    box-sizing:  border-box;
} */

/* html, body {
    background-color: #fff;
    color: #333;
    height: 100%;
    margin: 0;
    width: 100%;
} */

#tap-button {
    width: 100px;
    height: 50px;
    background: #333;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  @import url('https://fonts.googleapis.com/css?family=Staatliches');
  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
  @import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  .logoName {
    flex: 0 1 auto;
    display: inline-baseline;
    margin-bottom: 3rem;
    position: relative;
    left: -22rem;
    font-family: 'Staatliches', cursive;
    border: solid 6px black;
    border-radius: 15rem;
    padding: .4rem;
    /*background: radial-gradient(at left top, rgb(255, 233, 207) 30%, rgba(255, 206, 13, 0.9) 100%); */
    background: radial-gradient(at left top, rgb(0, 0, 0) 30%, rgba(0, 20, 13, 0.9) 100%);
  }

  .menu-frame-out {
    max-width: 270px;
    display: inline-baseline;
    padding: 1rem;
    left: 18rem;
    position: relative;
    background: radial-gradient(at left top, #DEB887 30%, #5B270B 100%);
    padding: 5px;
  }

  .menu-frame-inner {
  background: radial-gradient(at left top, rgb(0, 0, 0) 30%, rgba(0, 20, 13, 0.9) 100%);
  width: 100%;
  height: 100%;
  }

  .btn {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  }

  #wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
    background:
      radial-gradient(
        ellipse at top left,
        rgba(255, 255, 255, 1) 40%,
        rgba(229, 229, 229, .9) 100%
      );
    height: 100vh;
    padding: 60px 80px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    height: auto;
    margin-bottom: 20px;
    width: 420px;
  }

  main {
    display: flex;
    justify-content: flex-start;
  }

  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
  flex: 0 1 auto;
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .cup {
  flex: 1 1 auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 150px;
  height: 180px;
  border: 6px solid #fff;
  border-top: 10px solid #fff;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: radial-gradient(at left top, rgb(255, 233, 207) 30%, rgba(255, 206, 13, 0.9) 100%);
  background-repeat: repeat-x;
  animation: animate 10s linear infinite;
  box-shadow: 0 0 0 6px black, 0 20px 35px rgba(0,0,0,1);
  }

  .cup:before {
    content: '';
    position: absolute;
    width:50px;
    height: 80px;
    border: 8px solid black;
    right: -56px;
    top:30px;
    border-radius: 15px;
  }

  @keyframes animate{
  0%
    {
        background-position: 0 170px;
    }
  30%
    {
      background-position: 0 170px;
    }
    60%
      {
        background-position: 0 0px;
      }
    75%
      {
        background-position: 0 0px;
      }
    100%
      {
        background-position: 0 170px;
      }
  }



  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    flex: 0 1 auto;
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
    margin-top: 25rem;
    width: 50%;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }

  .doc {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  }